body {
  background: linear-gradient(
    to right,
    rgba(150, 10, 100, 1),
    rgba(5, 20, 255, .8)
  );
}
div.container-fluid {
  color: white;
  background-color: #006c78;
  border: 10px dotted #fff56b;
  border-radius: 10px;
  width: 800px;
  margin-top: 20px;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
}
a#navbarDropdown{
  color: white;
  width: 500px;
  

}
img#pic {
  width:300px;
}
span#data {
  color:white;
}